/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #222;
}

#map {
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
}
